@include '../header_component.html'
	<script src="/js/d3.v7.min.js"></script>
	<div class="content">
		<h2>$title</h2>
		
		<div id="container"></div>
		<script type="text/javascript" src="/js/cheepy.js"></script>
		<div class="filter">
			<form>
				<table class="rankings-filter">
					<thead>
						<tr>
							<th>Filter</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><label for="notBefore">Not before:</label></td>
							<td><input type="date" id="notBefore" name="notBefore" value="${app.query['notBefore']}"/></td>
						</tr>
						<tr>
							<td><label for="notUnder">Rank higher than:</label></td>
							<td><input type="number" id="notUnder" name="notUnder" value="${app.query['notUnder']}"/></td>
						</tr>
						<tr>
							<td><label for="notHigher">Rank lower than:</label></td>
							<td><input type="number" id="notHigher" name="notHigher" value="${app.query['notHigher']}"/></td>
						</tr>
						<tr>
							<td>Game mode:</td>
							<td>
								<input onclick="switchTo('NTSC');" type="button" value="NTSC"/>
								<input onclick="switchTo('PAL');" type="button" value="PAL"/>
								<input onclick="switchTo('');" type="button" value="Both"/>
							</td>
						</tr>
						<tr>
							<td>
								<input type="reset" />
								<input onclick="clearFilter();" type="button" value="Clear"/>
							</td>
							<td><input type="submit" value="Filter results" /></td>
						</tr>
					</tbody>
				</table>
			<form>
		</div>
		<div class="rankings">
			<table class="rankings-${game_mode.to_lower()}">
				<thead>
					<tr>
						<th>Date</th>
						<th>Rank</th>
						<th>Player</th>
						<th>Game Mode</th>
					</tr>
				</thead>
				<tbody>
					@for ranking in rankings
					<tr>
						<td>${ranking.ranking_date.ymmdd()}</td>
						<td>${ranking.rank}</td>
						<td>${ranking.player}</td>
						<td>${ranking.game_type.str().to_upper()}</td>
					</tr>
					@end
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
			load_rankings("$player", "$game_mode");
			window.onresize = render_rankings;
		</script>
	</div>
@include '../footer_component.html'