@include 'header_component.html'
	<script type="text/javascript" src="/js/cheepy.js"></script>
	<div class="content">
		<h2>${title}</h2>

		<div class="filter">
			<form>
				<table class="rankings-filter">
					<thead>
						<tr>
							<th>Select</th>
							<th>Selected</th>
							<th>Bagarre?</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<p>
									<select id="availableToBagarre" class="bagarre" multiple>
										@for player in players
										<option value="${player.id}">${player.name}</option>
										@end
									</select>
								</p>
								<p>
									<input onclick="updateBagarre('availableToBagarre', 'readyToBagarre');" type="button" value="Add &gt;&gt;"/>
								</p>
							</td>
							<td>
								<p>
									<select id="readyToBagarre" class="bagarre" multiple>
									</select>
								</p>
								<p>
									<input onclick="updateBagarre( 'readyToBagarre', 'availableToBagarre');" type="button" value="&lt;&lt; Remove"/>
								</p>
							</td>
							<td>
								<input onclick="goBagarre();" type="button" value="Bagarre!"/>
							</td>
						</tr>
					</tbody>
				</table>
			<form>
		</div>
	</div>
@include 'footer_component.html'
