@include 'header_component.html'
	<div class="content">
		<h2>${title}</h2>
		<table class="players-list compact stripe" id="players-list">
			<thead>
				<tr>
					<th>Player</th>
					<th>Country</th>
					<th>PAL</th>
					<th>NTSC</th>
					<th>Both</th>
				</tr>
			</thead>
			<tbody>
				@for player in players
				<tr>
					<td><a href="https://www.mariokart64.com/smk/profile.php?pid=${player.id}">${player.name}</a></td>
					<td><img src="/assets/images/flags/${player.country}.png" title="${countries_map[player.country]}"> ${countries_map[player.country]}</td>
					<td><a class="pal" href="/rankings/${player.id}/PAL"></a></td>
					<td><a class="ntsc" href="/rankings/${player.id}/NTSC"></a></td>
					<td><a class="both" href="/rankings/${player.id}/"></a></td>
				</tr>
				@end
			</tbody>
		</table>
	</div>
	<script src="//code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
	<script src="//cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
	<script type="text/javascript">
		new DataTable('#players-list', { paging: false });
	</script>
@include 'footer_component.html'
