
@font-face {
  font-family: 'Super Mario 256';
  src: url(/assets/fonts/SuperMario256.ttf) format('truetype');
}

body {
  margin:0;
  padding:0;
  background-color: #a8f880;
  font-family: arial, tahoma, sans-serif;
}

/* Header ====================================================================================== */
.header {
  margin:0;
  padding: 25px 0px 0px 25px;
  background-image: url(/assets/images/bg_top.png);
  background-repeat: repeat-x;
  height: 126px;
}

h1 {
  background-image: url(/assets/images/logo.png);
  background-repeat: no-repeat;
  height: 95px;
  font-weight: bold;
  font-family: 'Super Mario 256';
  font-size: 4em;
  padding-top: 10px;
  padding-left: 100px;
  margin: 0;
}

h1 a {
  text-decoration: none;
}

/* Navbar ====================================================================================== */
.navbar {
  text-align: center;
}

.navbar ul {
  padding: 0;
  margin: 10px;
  list-style-type: none;
  height: 24px;
  background-image: url(/assets/images/bg_bottom.png);
  background-position-y: -50px;
}

.navbar li {
  display: inline;
  float: left;
  margin-top: 2px;
  margin-left: 10px;
  font-family: 'Super Mario 256';
  font-size: 1.5em;
}

.navbar li a {
  text-decoration: none;
}

.navbar li a::before {
  content: "| "
}

.navbar li:first-child a::before {
  content: ""
}

/* Footer ====================================================================================== */
.footer {
  padding-left: 5px;
  padding-bottom: 15px;
  background-image: url(/assets/images/bg_bottom.png);
  background-position: bottom left;
  background-repeat: repeat-x;
  height: 95px;
  font-size: small;
}

.footer p {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-image: url(/assets/images/favicon.png);
}

.footer a {
  color: crimson;
  text-decoration: none;
}

/* Content ===================================================================================== */
.content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  background-color: #404838;
  border-right: 5px solid black;
  border-top: 5px solid #687060;
  padding: 0px 20px 20px 20px;
}

/* Misc ======================================================================================== */
a, h2, table {
  color: white;
}

h1, h2, table tr th, .navbar {
  text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
}

table tr th, table tr td {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
}

table tr th {
  background-size: auto 100%;
  font-size: 12pt;
  padding-top: 5px;
}

table tbody tr :nth-child(1) {
  text-align: left;
}

/* Players List */
table.players-list tr th {
  background-image: url(/assets/images/background_CI_red.png);
}

table.players-list tr td {
  background: #886;
}

/* Rankings List */
table.rankings-pal tr th {
  background-image: url(/assets/images/background_BC_pal.png);
}

table.rankings-pal tr td {
  background: #469;
}

table.rankings-ntsc tr th {
  background-image: url(/assets/images/background_DP_ntsc.png);
}

table.rankings-ntsc tr td {
  background: #476;
}

table.rankings-all tr th {
  background-image: url(/assets/images/background_CI_yellow.png);
}

table.rankings-all tr td {
  background: #8a6f08;
}

table.rankings-filter tr th {
  background-image: url(/assets/images/background_GV_grey.png);
}

table.rankings-filter tr td {
  background: #555555;
  text-align: left;
}

table.rankings-filter tr:last-child td {
  text-align: center;
}

/* Cheep Cheep Links */
a.ntsc, a.pal, a.both {
  padding-left: 20px;
  background-repeat: no-repeat;
}

a.ntsc {
  background-image: url(/assets/images/cheep_ntsc.png);
}

a.pal {
  background-image: url(/assets/images/cheep_pal.png);
}

a.both {
  background-image: url(/assets/images/cheep_both.png);
}

/* Bagarre */
select.bagarre {
  height: 150px;
}

/* Datatable */
.dt-container {
  color: white;
}